@inject IAppSettingsService Svc

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Loki</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="runs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Runs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timesheet">
                <span class="oi oi-clock" aria-hidden="true"></span> Timesheet
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="issues">
                <span class="oi oi-bug" aria-hidden="true"></span> Issues
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="osldb">
                <span class="oi oi-droplet" aria-hidden="true"></span> OSLDB
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private string NavMenuCssClass => Svc.AppSettings.CollapseNavMenu ? "collapse" : "";

    private async Task ToggleNavMenu()
    {
        Svc.AppSettings.CollapseNavMenu = !Svc.AppSettings.CollapseNavMenu;
        await Svc.Save(Svc.AppSettings);
    }

    protected override void OnInitialized()
    {
        Svc.OnChange += StateHasChanged;
    }
}
